.App {
  text-align: center;
}
.deve-view {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.deve-view .deve-list p {
  border: 10px solid rgb(19, 18, 18);
  background-color: rgba(0, 0, 0, 1);
  align-items: center;
  justify-content: center;
  height: 15%;
  width: 50%;
  font-size: calc(10px + 2vmin);
  color: white;
}
